*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #000000;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-family: 'Roboto Family', 'Arial', sans-serif;
    background-color:#dddddd;
}

a {
    color: #000000;
}

header{
    background-image: linear-gradient(rgba(0,0,0,.3), rgb(0,0,0,.7)), url(img/header-fix.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.header-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    font-size: 500%;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 15px;
}

h2{
    font-size: 200%;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.header-box-text {
    margin-bottom: 30px;
}

.button-full:link, .button-full:visited {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    text-transform: capitalize;
    background-color: #ed07b7;
    color: #ffffff;
}

.button-full:hover, .button-full:active{
    background-color: #bd0592;
}

.main-nav {
    list-style: none;
    float: right;
    margin: 50px 50px;
}

.main-nav li {
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 24px;
}

.main-nav a:link, .main-nav a:visited {
    text-decoration: none;
    color: #ffffff;
    transition: border-bottom 0.2s;
}

.main-nav a:hover, .main-nav a:active {
    border-bottom: 2px solid #ed07b7;
}

.about-box{
    margin:50px 0 0 30px;
}

.about-box:first-child{
    text-align: left;
    padding-right:0 5%;
}

.about-box:last-child{
    text-align: right;
    padding-left: 5px;
}

.about-heading{
    color: black;
    font-size: 250%;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom:30px;
}

.about-heading::after{
    display: block;
    width: 100px;
    height: 2px;
    background-color:black;
    content: " ";
    margin: 10px 40px;
}

.about-paragraph{
    color: #000000;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.about-btn:link, .about-btn:visited{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    text-transform: capitalize;
    border: 2px solid #ed07b7;
    color: #000000;
}

.about-btn:hover, .about-btn:active{
    background-color: #ed07b7;
    color: #ffffff;
}

.about-section{
    padding-bottom: 20px;
}

.section-heading{
    text-transform: uppercase;
    font-size: 250%;
    color: black;
    margin-bottom: 30px;
}

.section-heading::after{
    display: block;
    width: 100px;
    height: 2px;
    background-color:black;
    content: " ";
    margin: 10px auto 0 auto;
}

.sticky-nav{
    position: fixed;
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,.5);
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 2px #dddddd;
}

.sticky-nav .main-nav{
    margin-top: 35px;
}

.sticky-nav li a:link, .sticky-nav li a:visited {
    color: #dddddd;
    padding: 5px 0;
}
